
@import url(./navbar.css);
@import url(./acasa.css);
@import url(./cookie.css);
@import url(./responsive.css);
@import url(./blog.css);
@import url(./about.css);
@import url(./post.css);



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}