@import url(./navbar.css);
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ###############section############### */

section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #002b60;
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: #002b6073;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: white;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content p{
    margin-bottom: 65px;

}

.home .content a{
    background: white;
    padding: 15px 35px;
    color: #002b60;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: white;
    font-size: 3em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom:20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #0a2749;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(204,146,47);
    transition: 0.03s ease;
}

.slider-navigation .nav-btn.active{
    background: rgba(204,146,47);
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}


.content .highlight-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.content .percentage {
    font-size: 6em;
    font-weight: bold;
    color: #ffffff;
    margin-right: 10px;
}

.content .benefit {
    font-size: 2.5em;
    color: #ffffff;
}

.content .description {
    color: #ffffff;
    margin-top: 20px;
    font-size: 2em;
    
}

.content ul.treatments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content ul.treatments-list li {
    color: #fff;
    margin-bottom: 20px;
    font-size: 3em;
    display: flex; 
    align-items: center; 
}

.content ul.treatments-list img {
    margin-right: 50px; 
    width: 70px; 
    height: auto; 
}



.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

/* Cookie */
.cookie-consent-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a2749d0;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.cookie-consent-btn {
    color: #002b60;
    background-color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

/* end Cookie */


@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;        
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f8f819;
    }

    header .navigation .navigation-items a{
        color: #ffffff;
        font-size:  1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before{
        background: #CC922F;
        height: 5px;
    }

    header .navigation.active .navigation-items{
        background: #002b60e6;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn{
        background: url('../images/menu.png') no-repeat;
        background-size: 50px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url('../images/close.png') no-repeat;
        background-size: 40px;
        background-position: center;
        transition: 0.3s ease;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 50px;
    }

    section {
        padding: 50px;
    }

    .home .content {
        width: 90%;
        margin-top: 30px;
    }

    .home .content h1 {
        font-size: 2.5em;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .home .content p,
    .home .content .description {
        font-size: 1em;
    }

    .home .media-icons a {
        font-size: 2em;
    }

    .content .highlight-section {
        flex-direction: column;
        align-items: start;
    }

    .content .percentage {
        font-size: 4em;
    }

    .content .benefit {
        font-size: 1.5em;
    }

    .content ul.treatments-list li {
        font-size: 2em;
    }

    .home .video-slide.active {
        clip-path: circle(100% at 50% 50%);
    }

    .menu-btn {
        background-size: 30px;
    }

    .cookie-consent-container {
        font-size: 0.8em;
    }    
}

@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }

    section {
        padding: 50px 20px;
    }

    .home .content {
        width: 95%;
    }

    .home .content h1 {
        font-size: 2em;
    }

    .home .content p,
    .home .content .description {
        font-size: 0.9em;
    }

    .home .media-icons a {
        font-size: 1.5em;
    }

    .content .percentage {
        font-size: 3em;
    }

    .content .benefit {
        font-size: 1.2em;
    }

    .content ul.treatments-list li {
        font-size: 1.5em;
    }

    .cookie-consent-container {
        padding: 5px;
        font-size: 0.7em;
    }

    .cookie-consent-btn {
        padding: 5px;
    }    
}

/* Start Blog */

/* Stiluri specifice pentru blog */

.blog-page {
    min-height: 100vh; /* Întreaga înălțime a viewport-ului */
    background-color: #001c3efa; /* Culoarea de fundal dorită */
}

.blog-container {
    max-width: 1100px; /* Lățime maximă pentru conținut */
    margin: auto; /* Centrează containerul */
    padding: 50px 200px; /* Padding sus și jos și lățimea laterale */
}

.blog-posts {
    margin-top: 50px; /* Spațiu suplimentar între navbar și postări */    
    color: #ffffff; /* Textul postărilor în alb */
}

.blog-posts h1 {
    margin-bottom: 30px;
    text-align: left; /* Aliniază la stânga titlul blogului */
}

.post {
    background-color: #002b6047; /* Fundal albastru închis pentru postare */
    margin-bottom: 20px; /* Distanța între postări */
    padding: 20px; /* Padding în interiorul postării */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Umbră ușoară */
    border-radius: 10px; /* Margini rotunjite */
}

.post h2 {
    color: #ffffff; /* Titlul postării în alb */
    margin-bottom: 10px;
}

.post h2 a {
    color: #ffffff; /* Linkurile din titlul postării în alb */
    text-decoration: none; /* Fără subliniere */
}

.post-meta {
    font-style: italic;
    margin-bottom: 20px;
}

/* Stiluri pentru butoanele de share și like */
.social-share {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-share a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f4f4f4;
    color: #002b60;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.social-share a:hover {
    background-color: #CC922F;
    color: #ffffff;
    border-color: #CC922F;
}

.view-counter {
    font-size: 0.9em;
    margin-bottom: 20px;
}

/* Responsive Design pentru Blog */
@media (max-width: 1040px) {
    .blog-container {
        padding: 50px; /* Mai puțin padding pe ecranele mai mici */
    }
}

@media (max-width: 768px) {
    .blog-container {
        padding: 20px; /* Mai puțin padding pentru ecranele foarte mici */
    }
    
    .post {
        /* Ajustează sau elimină box-shadow pentru un aspect mai simplu pe mobile */
        box-shadow: none;
    }
}

/* end Blog */
